/*theme switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 90%;
    top: 25px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider_round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--text-primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider_round {
    background-color: var(--accent);
}

input:focus + .slider_round {
    box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider_round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/*End of theme switch*/

/*Header*/
.navbar {
    background: linear-gradient(to right, var(--text-primary) 80%, var(--accent));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.navbar_logo {
    color: var(--background);
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.navbar_logo:hover {
    color: var(--text-secondary);
}

.navbar_menu {
    list-style: none;
    display: flex;
}

.navbar_link {
    color: var(--background);
    padding: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.navbar_link:hover{
    color: var(--text-secondary);
}
/*End of Header*/

/*App Color*/
.App{
    background: var(--background);
    height: 100vh;
}
/*End of Page Color*/

/*Page Heading*/
.PageHeading{
    text-align: center;
    font-size: 2.5rem;
    color: var(--accent);
}
/*End of Page Heading*/

/*Forms*/
Form{
    text-align: center;
    /*border: 2px solid var(--accent);*/
    border-radius: 8px;
    margin: 2rem 10rem;
}

.Input{
    margin-bottom: 0.7rem;
    font-size: 1.7rem;
    background-color: var(--background);
    color: var(--accent);
    border: 1px solid var(--accent);
}

Form label{
    color: var(--accent);
}

Form Button{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    background-color: var(--background);
    color: var(--accent);
    border: 1px solid var(--accent);
    cursor: pointer;
}
/*End of Forms*/
