/*theme switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 90%;
    top: 25px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider_round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--text-font);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider_round {
    background-color: var(--accent);
}

input:focus + .slider_round {
    box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider_round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/*End of theme switch*/

/*Header*/
#username{
    position: absolute;
    font-size: 1rem;
    top: 35px;
    left: 10%;
    color: var(--text-font);
}

.message{ 
    position: absolute;
    font-size: 1rem;
    top: 35px;
    left: 56%;
    color: var(--text-font);
}

.navbar {
    background: linear-gradient(to right, var(--text-primary) 80%, var(--accent));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.navbar_logo {
    color: var(--nav-font);
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.navbar_logo:hover {
    color: var(--text-secondary);
}

.navbar_menu {
    list-style: none;
    display: flex;
}

.navbar_link {
    color: var(--nav-font);
    padding: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.navbar_link:hover{
    color: var(--text-secondary);
}
/*End of Header*/

/*App Color*/
.App{
    background: var(--background);
    height: 100vh;
}
/*End of App Color*/

/*Forms*/
Form{
    text-align: center;
    /*border: 2px solid var(--accent);*/
    border-radius: 8px;
    margin: 2rem 10rem;
}

.PageHeading{
    font-size: 2.5rem;
    color: var(--text-font);
}

Form p{
    color: var(--text-font);
    margin-bottom: 2rem;
}

.Input{
    margin-bottom: 0.7rem;
    font-size: 1.7rem;
    background-color: var(--background);
    color: var(--text-font);
    border: 1px solid var(--accent);
}

Form label{
    color: var(--text-font);
}

Form Button{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    background-color: var(--background);
    color: var(--accent);
    border: 1px solid var(--accent);
    cursor: pointer;
}
/*End of Forms*/

/*Home Page*/
.homePage {
    padding: 3rem 15rem;
    background: var(--background);
}

.homePage img {
    max-width: 100%;
    max-height: 100%;
}

.homePage button {
    position:relative;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid var(--background);
    color: var(--text-font);
    background: var(--background);
    cursor: pointer;
}

.homeLink { text-decoration: none; }

.homeSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background: rgb(46, 46, 46);
    border: 1rem solid var(--text-font);
}

.homeSection2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17rem;
    background: rgb(46, 46, 46);
    border: 1rem solid var(--text-font);
    cursor: pointer;
}

.homeSection3 {
    margin: 0rem 1rem;
    height: 60rem;
    display: grid;
    grid-template-columns: auto auto;
}

/*.homeSection3 img {
    max-width: 150%;
    max-height: 150%;
}*/

.homeCard1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0rem solid var(--text-font);
    margin-right: 0.5rem;
    background: rgb(46, 46, 46);
}

/*.homeCard1 button {
    position: relative;
    opacity: 70%;
    padding: 0.5rem;
    font-size: 1rem;
    top: 46px;
    width: 100%;
    border: 1px solid var(--background);
    color: var(--text-font);
    background: var(--background);
    cursor: pointer;
}*/

.homeCard2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0rem solid var(--text-font);
    margin-left: 0.5rem;
    background: rgb(46, 46, 46);
}

/*.homeCard2 button {
    position: relative;
    opacity: 70%;
    padding: 0.5rem;
    font-size: 1rem;
    top: 41px;
    width: 100%;
    border: 1px solid var(--background);
    color: var(--text-font);
    background: var(--background);
    cursor: pointer;
}*/

.homeCard3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0rem solid var(--text-font);
    margin-right: 0.5rem;
    background: rgb(46, 46, 46);
}

.homeCard4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0rem solid var(--text-font);
    margin-left: 0.5rem;
    background: rgb(46, 46, 46);
}
/*End of Home Page*/
