* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
  --background: #ffffff;
  --text-primary: #0b0b0b;
  --text-secondary: #e1415c;
  --text-font: #0b0b0b;
  --nav-font: #ffffff;
  --text-favorite: #0b0b0b;
  --fav-hover: #de8694;
  --size-hover: #de8694;
  --accent: #800080;
}
[data-theme='dark'] {
  --background: #0b0b0b;
  --text-primary: #6768c0;
  --text-secondary: #0b0b0b;
  --text-font: #ffffff;
  --nav-font: #ffffff;
  --text-favorite: #0b0b0b;
  --fav-hover: #b4b9ff;
  --size-hover: #6768c0;
  --accent: #b4b9ff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

