* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

:root {
  --background: #ffffff;
  --text-primary: #0b0b0b;
  --text-secondary: #e1415c;
  --accent: #800080;
}
[data-theme='dark'] {
  --background: #06081f;
  --text-primary: #6783c0;
  --text-secondary: #ffffff;
  --accent: #b4d8ff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

